{% extends 'orchidea/Base/Body-Base.html' %}

{% block title %}
Reject Recruitment Form
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Reject Recruitment Form</h2>
    <p>Are you sure you want to reject and delete this recruitment form?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirm</button>
        <a href="{% url 'orchidea:employee-recruitment' User_Id=User_Id %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
