header{
    background-color: #a0d406;
    padding: 10px;
    border-bottom: 1px solid #e9ecef;
}

.nav-link{
    color: #fff;
    background-color: hsl(277, 58%, 65%);
}

.form-control{
    border: 1px solid #ced4da;
}